/* Alexander Timmerman 3-16-2025 */

html {
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(72, 91, 113, 1) 0%,
      rgba(24, 32, 38, 1) 100%
    )
    no-repeat;
  background-color: rgba(24, 32, 38, 1);
}

body {
  margin: 0%;
  font-family: "Motiva Sans", sans-serif;
}

header {
  background-color: rgb(50, 72, 103);
  font-size: 26px;
  text-align: center;
  display: grid;
  padding: 10px 20px;
  grid-template-rows: auto;
  grid-template-columns: 15% 70% 15%;
}

header button {
  padding: 5px 15px;
  background-color: black;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 15px;
}

header div {
  margin: auto;
}

/* Player Profile, brians rough implementation, should probably start closer to the edge of the screen like the buttons on the right. and if window is narrow the title should go above the other two divs (if possible not a huge deal) */
#playerProfile {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
  background-color: black;
  color: white;
  border-radius: 15px;
  height: 70%;
}

#playerAvatar {
  border-radius: 15px;
  height: 90%;
}
/* End Player Profile */

main {
  padding: 10px 20px;
}

table {
  background-color: rgb(143, 170, 201);
  width: 90%;
  font-size: x-large;
  border-collapse: collapse;
  margin: auto;
}

td,
th {
  border: 1px solid rgb(53, 85, 124);
  text-align: left;
  padding: 8px;
  width: 5%;
}

tr:first-child {
  background-color: rgb(115, 151, 192);
}

td:first-child,
th:first-child {
  width: 50%;
}

td:nth-child(2),
th:nth-child(2) {
  width: 25%;
}

td:nth-child(n + 4) {
  text-align: center;
}

button {
  margin: 10px;
  cursor: pointer;
}

.help {
  position: relative;
}

.help .helptext {
  visibility: hidden;
  position: absolute;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  z-index: 1;
  width: 400px;
  top: 125%;
  left: 50%;
  margin-left: -200px;
}

.help:hover .helptext {
  visibility: visible;
}

.dataentry {
  margin-left: 2%;
}

.fetch-button {
  width: 20%;
  margin: auto;
}

.preference-sliders {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
}

.preference-sliders div {
  display: flex;
  justify-content: center;
  width: 75%;
  background-color: rgb(26, 33, 42);
  border-radius: 10px;
  padding: 5px 15px;
  margin: auto;
  color: rgb(209, 229, 250);
  font-size: 24px;
}

.slider {
  appearance: none;
  height: 10px;
  border-radius: 10px;
  background: #6b6b6b;
  margin: auto 0px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 20px;
  background: rgb(61, 76, 97);
  cursor: pointer;
}

.subsection {
  text-align: center;
}

.subsection h3 {
  font-size: 24px;
}

#fetch {
  font-size: x-large;
  width: 100%;
  color: rgb(209, 229, 250);
  background-color: rgb(19, 26, 34);
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
}

#fetch:disabled {
  opacity: 50%;
}

/****************************Loading spinner styles*************************/
.lds-bars,
.lds-bars div {
  box-sizing: border-box;
}
.lds-bars {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-bars div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: currentColor;
  animation: lds-bars 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-bars div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-bars div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-bars div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-bars {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
