/* Alexander Timmerman 3-16-2025 */

body {  
        background-color: rgb(38, 49, 64);
        margin: 0%;
}

header {
        background-color: rgb(72, 91, 113);
        font-size: large;
        display: grid;
        padding: 10px 0;
        grid-template-rows: auto;
        grid-template-columns: 50% 50%;
        
}

table   {
        background-color: rgb(143, 170, 201);
        width: 90%;
        font-size: x-large;
        border-collapse: collapse;
        margin: auto;
}

td, th {
        border: 1px solid rgb(53, 85, 124);
        text-align: left;
        padding: 8px;
}

tr:first-child {
        background-color: rgb(115, 151, 192);
}

td:first-child, th:first-child {
        width: 60%;
}

button {
        margin: 10px;
}

.dataentry {
        margin-left: 2%;
}

.fetch-button {
        width: 20%;
        margin: auto;
}

#fetch {
        font-size: x-large;
        width: 100%;
        color: rgb(209, 229, 250);
        background-color: rgb(19, 26, 34);
        border-color: rgb(0, 0, 0);
        border-radius: 10px;
}